The purpose of this notebook will be to intake the data, clean, and start making explorations. If a question is decided on, the cleaning can be tailored to the needs of the project.

Week 6/14 - 6/20 To-Do:
* figure out FY spreadsheets
* create individual dataframes
* consider merging similar dataframes together
* identify and extract null values
* start visualizations

In [1]:
import pandas as pd

data:  

    est13_16us  
    
        est13us
        est14us
        est15us
        est16us
    SNAP_FY2010_FY2020
        FY10
        FY11
        ...
        FY20
    WICAgencies2013ytd ... WICAgencies2016ytd
        Average_Food_Cost_Per_Person
        Children_Participating
        Food_Costs
        Infants_Fully_Breastfed
        Infants_Fully_Formula-fed
        Infants_Partially_Breastfed
        Nut_Services_Admin_Costs
        Postpartum_Women_Participating
        Pregnant_Women_Participating
        Rebates_Received
        Total_Breastfeeding_Women
        Total_Infants
        Total_Number_of_Participants
        Total_Women
        Women_Fully_Breastfeeding
        Women_Partially_Breastfeeding
    SNAP_history_1969_2019

Now that I have a schema, time to start exploring this data
* Check out WIC categories (breadth of info)
* Columns of SNAP history (and null values)
* open at least one of each and see what it's about!

# Investigate est13_16us folder

In [2]:
est13_df = pd.read_csv('Food Assistance Data/data/est13_16us/est13us.csv')

In [3]:
est13_df.head()

,Geographic Information,Unnamed: 1,Unnamed: 2,All Ages,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Age 0-17,...,Unnamed: 20,Median Household Income,Unnamed: 22,Unnamed: 23,Age 0-4,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
1,00,US,United States,48810868,48554692,49067044,15.8,15.7,15.9,16086960,...,21,52250,52185,52315,4811689,4759374,4864004,24.8,24.5,25.1
2,01,AL,Alabama,889091,873141,905041,18.9,18.6,19.2,300649,...,26.6,42882,42260,43504,92126,87734,96518,31.6,30.1,33.1
3,02,AK,Alaska,72643,69056,76230,10.1,9.6,10.6,25030,...,13.8,70058,68425,71691,8148,7208,9088,14.9,13.2,16.6
4,04,AZ,Arizona,1206948,1184107,1229789,18.6,18.2,19,422435,...,26,48504,47932,49076,122889,117153,128625,29.1,27.7,30.5

In [4]:
est13_df.columns
#if i use the est13_16us folder I will have to convert the first row to be the column names

Index(['Geographic Information', 'Unnamed: 1', 'Unnamed: 2', 'All Ages',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Age 0-17', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Age 5-17 in Families', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Median Household Income',
       'Unnamed: 22', 'Unnamed: 23', 'Age 0-4', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29'],
      dtype='object')

In [5]:
est14_df = pd.read_csv('Food Assistance Data/data/est13_16us/est14us.csv')
est14_df.head()

,Geographic Information,Unnamed: 1,Unnamed: 2,All Ages,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Age 0-17,...,Unnamed: 20,Median Household Income,Unnamed: 22,Unnamed: 23,Age 0-4,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
1,00,US,United States,48208387,47966830,48449944,15.5,15.4,15.6,15686012,...,20.6,53657,53564,53750,4658187,4609104,4707270,23.9,23.7,24.1
2,01,AL,Alabama,905682,888317,923047,19.2,18.8,19.6,298682,...,26.8,42917,42335,43499,88203,83938,92468,30.6,29.1,32.1
3,02,AK,Alaska,81622,77611,85633,11.4,10.8,12,28273,...,15.4,70898,69423,72373,9170,8090,10250,17.4,15.3,19.5
4,04,AZ,Arizona,1195889,1175667,1216111,18.2,17.9,18.5,406457,...,24.8,50036,49561,50511,118958,113468,124448,28.4,27.1,29.7

In [6]:
len(est14_df)

53

In [7]:
est15_df = pd.read_csv('Food Assistance Data/data/est13_16us/est15us.csv')
est15_df.head()

,Geographic Information,Unnamed: 1,Unnamed: 2,All Ages,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Age 0-17,...,Unnamed: 20,Median Household Income,Unnamed: 22,Unnamed: 23,Age 0-4,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
1,00,US,United States,46153077,45878016,46428138,14.7,14.6,14.8,15000273,...,19.7,55775,55690,55860,4448211,4397105,4499317,22.8,22.5,23.1
2,01,AL,Alabama,875853,859781,891925,18.5,18.2,18.8,288450,...,26.1,44833,44110,45556,84382,80530,88234,29.4,28.1,30.7
3,02,AK,Alaska,74941,71399,78483,10.4,9.9,10.9,26564,...,14.5,73391,71522,75260,8535,7584,9486,15.8,14,17.6
4,04,AZ,Arizona,1159046,1136666,1181426,17.4,17.1,17.7,394337,...,24.4,51473,51046,51900,113218,108523,117913,27,25.9,28.1

In [8]:
est16_df = pd.read_csv('Food Assistance Data/data/est13_16us/est16us.csv')
est16_df.head()

,Geographic Information,Unnamed: 1,Unnamed: 2,All Ages,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Age 0-17,...,Unnamed: 20,Median Household Income,Unnamed: 22,Unnamed: 23,Age 0-4,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
1,00,US,United States,44268996,44022086,44515906,14,13.9,14.1,14115713,...,18.5,57617,57502,57732,4156949,4108397,4205501,21.3,21.1,21.5
2,01,AL,Alabama,814197,796927,831467,17.2,16.8,17.6,267674,...,24.6,46309,45650,46968,78675,74257,83093,27.4,25.9,28.9
3,02,AK,Alaska,71916,67813,76019,9.9,9.3,10.5,24897,...,13.9,76144,74375,77913,7919,6898,8940,15.1,13.2,17
4,04,AZ,Arizona,1107153,1086482,1127824,16.4,16.1,16.7,377445,...,23.5,53481,52863,54099,106817,101686,111948,24.9,23.7,26.1

At first blush these all seem to match. I'll have to do more research as to what this dataframe is actually telling me, and do some cleaning to make it usable.

# SNAP_FY2010_FY2020

In [9]:
FY10_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY10.xls')
FY10_df.head()

,National Data Bank Version 8.2 - Supplemental Nutrition Assistance Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,01/15/2015
0,SNAP Monthly State Participation and Benefit S...,NaN,NaN,NaN,NaN,NaN
1,Fiscal Year and Month,Participation 1/,NaN,Benefit,NaN,NaN
2,NaN,Household,Persons,Per Household,Per Person,Cost
3,NaN,----------------- Number -----------------,NaN,----------------------------------------------...,NaN,NaN
4,Connecticut,NaN,NaN,NaN,NaN,NaN

This has the same issue- the columns are not named. Also it looks like there may be significantly more NaNs to deal with  
... is this in long format instead of wide???

Here's the deal- it's actually very beautifully formatted in Excel. If I decide to use this dataset, I'll have to decide if it is efficient to format it into a datframe though. Will include image of formatted data below

<img src = "Food Assistance Data/data/SNAP_FY2010_FY2020/FY format image.png">

It is my belief that the tabs at the bottom (NERO, MARO, SERO, etc) are different regions of the US. I'm not sure how those have been added into the dataframe.

It's going to be tedious but I think I should open all of the FY files and see if I can get any insight as to what this is supposed to look like.  

All files appear to match (on a surface level). Commenting out for cleanliness until cleaning steps are ascertained.

## Subtask: Write steps for cleaning

The first step, I think, is to decide what I want this to look like in a df. Will research and include image below.  
Consider using pd.pivot_table()

With the ultimate goal of combining all data into one large dataframe, I think this would be the most efficient layout:

It appears pandas is only reading one sheet out of 8 in the file.  
And now I'm wondering if each year is going to be made of several regional dataframes.

In [31]:
xls_10 = pd.ExcelFile('Food Assistance Data/data/SNAP_FY2010_FY2020/FY10.xls')
nero_10 = pd.read_excel(xls_10, 'NERO')
maro_10 = pd.read_excel(xls_10, 'MARO')
sero_10 = pd.read_excel(xls_10, 'SERO')
mwro_10 = pd.read_excel(xls_10, 'MWRO')
swro_10 = pd.read_excel(xls_10, 'SWRO ')
mpro_10 = pd.read_excel(xls_10, 'MPRO')
wro_10 = pd.read_excel(xls_10, 'WRO')
summary_10 = pd.read_excel(xls_10, 'US Summary ')

In [30]:
xls_10.sheet_names
#'SWRO' and 'US Summary' have a space in the sheet name, so at first the code above errored
#I think in future year's data I will just generate the list of names to start

['NERO', 'MARO', 'SERO', 'MWRO', 'SWRO ', 'MPRO', 'WRO', 'US Summary ']

In [11]:
nero_10.head()

,National Data Bank Version 8.2 - Supplemental Nutrition Assistance Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,01/15/2015
0,SNAP Monthly State Participation and Benefit S...,NaN,NaN,NaN,NaN,NaN
1,Fiscal Year and Month,Participation 1/,NaN,Benefit,NaN,NaN
2,NaN,Household,Persons,Per Household,Per Person,Cost
3,NaN,----------------- Number -----------------,NaN,----------------------------------------------...,NaN,NaN
4,Connecticut,NaN,NaN,NaN,NaN,NaN

In [12]:
maro_10.head()

,National Data Bank Version 8.2 - Supplemental Nutrition Assistance Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,01/15/2015
0,SNAP Monthly State Participation and Benefit S...,NaN,NaN,NaN,NaN,NaN
1,Fiscal Year and Month,Participation 1/,NaN,Benefit,NaN,NaN
2,NaN,Household,Persons,Per Household,Per Person,Cost
3,NaN,----------------- Number -----------------,NaN,----------------------------------------------...,NaN,NaN
4,Delaware,NaN,NaN,NaN,NaN,NaN

That seems to be exactly what's happening here. So for each FY, there will be 8 dataframes for each region.  
Of course, the ultimate goal will be to combine all years/regions into one large dataframe to see changes over time.

In [32]:
xls_11 = pd.ExcelFile('Food Assistance Data/data/SNAP_FY2010_FY2020/FY11.xls')
xls_11.sheet_names

['NERO', 'MARO', 'SERO', 'MWRO', 'SWRO ', 'MPRO', 'WRO', 'US Summary ']

In [13]:
nero_11 = pd.read_excel(xls_11, 'NERO')
maro_11 = pd.read_excel(xls_11, 'MARO')
sero_10 = pd.read_excel(xls_10, 'SERO')
mwro_10 = pd.read_excel(xls_10, 'MWRO')
swro_10 = pd.read_excel(xls_10, 'SWRO ')
mpro_10 = pd.read_excel(xls_10, 'MPRO')
wro_10 = pd.read_excel(xls_10, 'WRO')
summary_10 = pd.read_excel(xls_10, 'US Summary ')

In [14]:
# FY12_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY12.xls')
# FY12_df.head()

In [15]:
# FY13_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY13.xls')
# FY13_df.head()

In [16]:
# FY14_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY14.xls')
# FY14_df.head()

In [17]:
# FY15_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY15.xls')
# FY15_df.head()

In [18]:
# FY16_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY16.xls')
# FY16_df.head()

In [19]:
# FY17_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY17.xls')
# FY17_df.head()

In [20]:
# FY18_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY18.xls')
# FY18_df.head()

In [21]:
# FY19_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY19.xls')
# FY19_df.head()

In [22]:
# FY20_df = pd.read_excel('Food Assistance Data/data/SNAP_FY2010_FY2020/FY20.xls')
# FY20_df.head()

# SNAP_history_1969_2019

In [23]:
snap_df = pd.read_csv("Food Assistance Data/data/SNAP_history_1969_2019.csv")
snap_df.head()

,Fiscal Year,Average Participation,Average Benefit Per Person,Total Benefits(M),Other Costs,Total Costs(M)
0,1969,"2,878",6.63,228.80,21.70,250.50
1,1970,"4,340",10.55,549.70,27.20,576.90
2,1971,"9,368",13.55,"1,522.70",53.20,"1,575.90"
3,1972,"11,109",13.48,"1,797.30",69.40,"1,866.70"
4,1973,"12,166",14.60,"2,131.40",76.00,"2,207.40"

In [24]:
#okay... now THAT'S pretty